<div class="input" [formGroup]="group">
  <div class="row">
    <label class="form-label col-4" *ngIf="label">
      {{ label }}
      <span *ngIf="isRequired" class="mandatory-style">*</span>
    </label>
    <div class="col-8 eachInfo">
      <div class="blueTxt search-wraper">
        <input
          [type]="'text'"
          [placeholder]="placeholder"
          [name]="fieldName"
          [class]="'text-input form-control ' + class"
          [ngClass]="{
            'input-error':
              groupControl!.invalid &&
              (groupControl!.dirty || groupControl!.touched)
          }"
          [formControlName]="fieldName"
          autocomplete="off"
          maxlength="250"
          (blur)="onBlur($event)"
          (input)="onChange($event)"
        />

        <ng-container *ngIf="searchObs$ | async as searchVals">
          <ul class="search-container" *ngIf="showModal">
            <li
              class="search-item"
              *ngFor="let searchVal of searchVals"
              [id]="searchVal[optionConfig!.valueKey]"
              (click)="onSelectValue(searchVal)"
            >
              {{ searchVal[optionConfig!.labelKey] }}
            </li>
          </ul>
        </ng-container>
        <div
          class="form-error"
          *ngIf="
            groupControl!.invalid &&
            (groupControl!.dirty || groupControl!.touched)
          "
        >
          <div *ngFor="let err of errors">
            <label *ngIf="groupControl!.errors![err.type]">{{
              err.message
            }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
