@import '../../../../styles/formStyle.scss';
.ownerTxt {
    margin-bottom: 10px;
    font-weight: 600;
    color: #696565;
}

.borderDiv {
    height: 1px;
    background-color: #efe6e6;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}