<div class="container-fluid" style="margin-top: 30px">
    <form [formGroup]="dealForm">
      <div class="card shadow">
        <div class="card-body contactInfo dealDetails">
          <div
            class="
              p-3
              font-size-15rem font-weight-600
              d-flex
              justify-content-between
              cardHeader
            "
          >
            Deal Information
          </div>
          <div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <app-select
                  [isRequired]="label.accountOwner.isRequired"
                  [label]="label.accountOwner.fieldLabel"
                  [fieldName]="label.accountOwner.fieldName"
                  [options]="label.accountOwner.options"
                  [errors]="label.accountOwner.errors"
                  [group]="accountForm"
                ></app-select>
              </div>
              <div class="col-md-6 mb-4">
                <app-select
                  [isRequired]="label.rating.isRequired"
                  [label]="label.rating.fieldLabel"
                  [fieldName]="label.rating.fieldName"
                  [options]="label.rating.options"
                  [errors]="label.rating.errors"
                  [group]="accountForm"
                ></app-select>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.accountName.fieldType"
                  [isRequired]="label.accountName.isRequired"
                  [label]="label.accountName.fieldLabel"
                  [fieldName]="label.accountName.fieldName"
                  [placeholder]="label.accountName.placeholder"
                  [errors]="label.accountName.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
              <div class="col-md-6 mb-4">
                <app-input-number
                  [type]="label.phone.fieldType"
                  [isRequired]="label.phone.isRequired"
                  [label]="label.phone.fieldLabel"
                  [fieldName]="label.phone.fieldName"
                  [placeholder]="label.phone.placeholder"
                  [errors]="label.phone.errors"
                  [group]="accountForm"
                ></app-input-number>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.accountSite.fieldType"
                  [isRequired]="label.accountSite.isRequired"
                  [label]="label.accountSite.fieldLabel"
                  [fieldName]="label.accountSite.fieldName"
                  [placeholder]="label.accountSite.placeholder"
                  [errors]="label.accountSite.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
              <div class="col-md-6 mb-4">
                <app-input-number
                  [type]="label.fax.fieldType"
                  [isRequired]="label.fax.isRequired"
                  [label]="label.fax.fieldLabel"
                  [fieldName]="label.fax.fieldName"
                  [placeholder]="label.fax.placeholder"
                  [errors]="label.fax.errors"
                  [group]="accountForm"
                ></app-input-number>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.parentAccount.fieldType"
                  [isRequired]="label.parentAccount.isRequired"
                  [label]="label.parentAccount.fieldLabel"
                  [fieldName]="label.parentAccount.fieldName"
                  [placeholder]="label.parentAccount.placeholder"
                  [errors]="label.parentAccount.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.website.fieldType"
                  [isRequired]="label.website.isRequired"
                  [label]="label.website.fieldLabel"
                  [fieldName]="label.website.fieldName"
                  [placeholder]="label.website.placeholder"
                  [errors]="label.website.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
              <div class="col-md-6 mb-4">
                <app-input-number
                  [type]="label.accountNumber.fieldType"
                  [isRequired]="label.accountNumber.isRequired"
                  [label]="label.accountNumber.fieldLabel"
                  [fieldName]="label.accountNumber.fieldName"
                  [placeholder]="label.accountNumber.placeholder"
                  [errors]="label.accountNumber.errors"
                  [group]="accountForm"
                ></app-input-number>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.tickerSymbol.fieldType"
                  [isRequired]="label.tickerSymbol.isRequired"
                  [label]="label.tickerSymbol.fieldLabel"
                  [fieldName]="label.tickerSymbol.fieldName"
                  [placeholder]="label.tickerSymbol.placeholder"
                  [errors]="label.tickerSymbol.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
              <div class="col-md-6 mb-4">
                <app-select
                  [isRequired]="label.accountType.isRequired"
                  [label]="label.accountType.fieldLabel"
                  [fieldName]="label.accountType.fieldName"
                  [options]="label.accountType.options"
                  [errors]="label.accountType.errors"
                  [group]="accountForm"
                ></app-select>
              </div>
              <div class="col-md-6 mb-4">
                <app-select
                  [isRequired]="label.ownership.isRequired"
                  [label]="label.ownership.fieldLabel"
                  [fieldName]="label.ownership.fieldName"
                  [options]="label.ownership.options"
                  [errors]="label.ownership.errors"
                  [group]="accountForm"
                ></app-select>
              </div>
              <div class="col-md-6 mb-4">
                <app-select
                  [isRequired]="label.industry.isRequired"
                  [label]="label.industry.fieldLabel"
                  [fieldName]="label.industry.fieldName"
                  [options]="label.industry.options"
                  [errors]="label.industry.errors"
                  [group]="accountForm"
                ></app-select>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.employees.fieldType"
                  [isRequired]="label.employees.isRequired"
                  [label]="label.employees.fieldLabel"
                  [fieldName]="label.employees.fieldName"
                  [placeholder]="label.employees.placeholder"
                  [errors]="label.employees.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
              <div class="col-md-6 mb-4">
                <app-input-number
                  [type]="label.annualRevenue.fieldType"
                  [isRequired]="label.annualRevenue.isRequired"
                  [label]="label.annualRevenue.fieldLabel"
                  [fieldName]="label.annualRevenue.fieldName"
                  [placeholder]="label.annualRevenue.placeholder"
                  [errors]="label.annualRevenue.errors"
                  [group]="accountForm"
                ></app-input-number>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.sICCode.fieldType"
                  [isRequired]="label.sICCode.isRequired"
                  [label]="label.sICCode.fieldLabel"
                  [fieldName]="label.sICCode.fieldName"
                  [placeholder]="label.sICCode.placeholder"
                  [errors]="label.sICCode.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
              <div class="col-md-6 mb-4">
                <app-input-number
                  [type]="label.averageBill.fieldType"
                  [isRequired]="label.averageBill.isRequired"
                  [label]="label.averageBill.fieldLabel"
                  [fieldName]="label.averageBill.fieldName"
                  [placeholder]="label.averageBill.placeholder"
                  [errors]="label.averageBill.errors"
                  [group]="accountForm"
                ></app-input-number>
              </div>
              <div class="col-md-6 mb-4">
                <app-input
                  [type]="label.rescheduleCycleTime.fieldType"
                  [isRequired]="label.rescheduleCycleTime.isRequired"
                  [label]="label.rescheduleCycleTime.fieldLabel"
                  [fieldName]="label.rescheduleCycleTime.fieldName"
                  [placeholder]="label.rescheduleCycleTime.placeholder"
                  [errors]="label.rescheduleCycleTime.errors"
                  [group]="accountForm"
                ></app-input>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body contactInfo dealDetails">
          <div
            class="
              p-3
              font-size-15rem font-weight-600
              d-flex
              justify-content-between
              cardHeader
            "
          >
            Description Information
          </div>
          <div>
            <div class="row">
              <div class="col-md-6 mb-4">
                <app-textarea
                  [type]="descLabel.description.fieldType"
                  [isRequired]="descLabel.description.isRequired"
                  [label]="descLabel.description.fieldLabel"
                  [fieldName]="descLabel.description.fieldName"
                  [placeholder]="descLabel.description.placeholder"
                  [errors]="descLabel.description.errors"
                  [group]="accountForm"
                ></app-textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-center justify-content-center mb-4">
          <button
            class="btn btn-primary createBtn"
            type="submit"
            (click)="saveDeal()"
          >
            Create Deal
          <button>
          </div>
    </form>
  </div>