.accountDetails {
  padding-top: 5px !important;
  .cardHeader {
    padding-left: 0rem !important;
    font-weight: 600;
    padding-right: 1rem !important;
  }
}
.titleTxt {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  color: #616e88;
  vertical-align: top;
  text-align: right;
  padding-right: 30px;
}
