<div class="input" [formGroup]="group">
  <div class="row">
    <label class="form-label col-4" *ngIf="label">
      {{ label }}
      <span *ngIf="isRequired" class="mandatory-style">*</span>
    </label>

    <div class="col-8 eachInfo">
      <div class="blueTxt">
        <select
          [name]="fieldName"
          [formControlName]="fieldName"
          [ngClass]="{
            'select-error':
              groupControl!.invalid &&
              (groupControl!.dirty || groupControl!.touched)
          }"
          [class]="'select-data form-control ' + class"
          (blur)="onBlur($event)"
          (change)="onChange($event)"
        >
          <option value="">Select None</option>
          <option *ngFor="let option of modifiedOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <div
          class="form-error"
          *ngIf="
            groupControl!.invalid &&
            (groupControl!.dirty || groupControl!.touched)
          "
        >
          <div *ngFor="let err of errors">
            <label *ngIf="groupControl!.errors![err.type]">{{
              err.message
            }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
