<div class="container-fluid" style="margin-top: 10px">
    <form [formGroup]="utilityInfoForm">
        <div class="card shadow">
            <div class="card-body sectionDetails">
                <div class="d-flex justify-content-between editSection">
                    <div class="p-3 font-size-15rem font-weight-600 cardHeader">
                        Utility Information
                    </div>
                    <div *ngIf="action == 'view'">
                        <button class="btn btn-primary createBtn" type="submit" (click)="editUtilityInfo()">
                            <span class="plusImg"><img src="../../assets/images/pencil-fill-white.svg"></span> Edit 
                        </button>
                    </div>  
                </div>
                <div class="col-12 pr-3">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <app-select
                                [isRequired]="label.utilityCompany.isRequired"
                                [label]="label.utilityCompany.fieldLabel"
                                [fieldName]="label.utilityCompany.fieldName"
                                [options]="utilityCompany"
                                [optionConfig]="label.utilityCompany.optionConfig"
                                [errors]="label.utilityCompany.errors"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [group]="utilityInfoForm"
                            ></app-select>
                            <div class="customError" *ngIf="!matchCompany">Please change utility company according to state</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <app-file-upload
                                [type]="label.utilityBillOne.fieldType"
                                [isRequired]="label.utilityBillOne.isRequired"
                                [label]="label.utilityBillOne.fieldLabel"
                                [fieldName]="label.utilityBillOne.fieldName"
                                [errors]="label.utilityBillOne.errors"
                                [group]="utilityInfoForm"
                                (cstChange)="getImage($event, label.utilityBillOne.fieldName)"
                            ></app-file-upload>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-file-upload
                                [type]="label.utilityBillTwo.fieldType"
                                [isRequired]="label.utilityBillTwo.isRequired"
                                [label]="label.utilityBillTwo.fieldLabel"
                                [fieldName]="label.utilityBillTwo.fieldName"
                                [errors]="label.utilityBillTwo.errors"
                                [group]="utilityInfoForm"
                                (cstChange)="getImage($event, label.utilityBillTwo.fieldName)"
                            ></app-file-upload>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="label.annualBill.fieldType"
                                [isRequired]="label.annualBill.isRequired"
                                [label]="label.annualBill.fieldLabel"
                                [fieldName]="label.annualBill.fieldName"
                                [placeholder]="label.annualBill.placeholder"
                                [errors]="label.annualBill.errors"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [group]="utilityInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="label.annualUsage.fieldType"
                                [isRequired]="label.annualUsage.isRequired"
                                [label]="label.annualUsage.fieldLabel"
                                [fieldName]="label.annualUsage.fieldName"
                                [placeholder]="label.annualUsage.placeholder"
                                [errors]="label.annualUsage.errors"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [group]="utilityInfoForm"
                            ></app-input>
                        </div>
                    </div>
                    <div class="row mb-4" *ngIf="action == 'create' || action == 'edit'">
                        <div class="col-12 eachInfoDiv btnDiv">
                          <div class="eachInfo">
                            <app-btn-primary
                              [btnName]="'Save & Next'"
                              [disabled]="utilityInfoForm.invalid"
                              (btnClick)="submitUtilityInfo()"
                            ></app-btn-primary>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

