<div class="row mt-4">
  <div class="col-12">
    <label class="header-label">1. Module Information</label>
    <hr />
  </div>
  <div class="col-12">
    <app-module-info
      [moduleData]="moduleData"
      (btnSubmit)="btnSubmit($event)"
    ></app-module-info>
  </div>
</div>
<div class="row mt-4" *ngIf="isVisibleReportType">
  <div class="col-12">
    <label class="header-label">2. Report Type</label>
    <hr />
  </div>
  <div class="col-12">
    <app-report-type
      (reportTypeSelect)="reportTypeSelected($event)"
    ></app-report-type>
  </div>
</div>
<div class="row mt-4" *ngIf="isVisibleRepresentation">
  <div class="col-12">
    <label class="header-label">3. Report Representation</label>
    <hr />
  </div>
  <div class="col-12">
    <app-report-representation
      [selectedModuleArr]="selectedModuleArr"
      (reportColumnsSelected)="reportColumnsSelected($event)"
    ></app-report-representation>
  </div>
</div>
