<div class="input-radio" [formGroup]="group">
  <div class="row">
    <label class="form-label col-4" *ngIf="label">
      {{ label }}
    </label>
    <div
      class="radio-grp-container col-8"
      [ngClass]="{ 'col-8': label, 'col-12': !label }"
    >
      <mat-radio-group
        aria-label="Select an option"
        [formControlName]="fieldName"
        [name]="fieldName"
        (change)="onChange($event)"
      >
        <ng-container *ngFor="let option of modifiedOptions">
          <mat-radio-button [value]="option.value" [checked]="option.checked">{{
            option.label
          }}</mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>
  </div>
</div>
