
.footer {
  background-color: #0e0b16;
  padding: 0.7rem 0 0.8rem;
  font-size: 13px;
  letter-spacing: 0.4px;
}
.line {
  width: 1px;
  background-color: #ffffff;
  height: 12px;
  margin: 0.5rem 0.8rem;
}
.auth-bg {
  //   background: linear-gradient(to bottom, $color-primary, $color-secondary)
  //     no-repeat center;
  background-image: url("/assets/images/loginBG2.png");
  background-size: cover;
  min-height: calc(100vh - 52px);
}
.auth-container {
  width: min(380px, 100%);
  background-color: transparent;
  border-radius: 5px;
  // box-shadow: 0px 0px 5px 0px $color-primary;
  .card {
    width: 94%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 13px !important;
    margin-top: 13px !important;
    .card-header {
      display: flex;
      padding: 0;
      & > * {
        width: 50%;
        border-radius: 0;
        padding: 1rem 0;
        background-color: #e0e0e0;
        // color: $color-secondary;
        border-color: #e0e0e0;
        &.active {
          // background-color: $color-secondary;
          color: #e0e0e0;
          // border-color: $color-secondary;
        }
      }
    }
    input {
      padding-left: 8px;
      &.focus {
        box-shadow: none;
      }
    }
    .form-control {
      background-color: #f2f2f2;
      border-radius: 0 10px 10px 0;
      border-style: solid;
      border-color: #9eadbd;
      border-width: 1px 1px 1px 0;
    }
    .input-group-text {
      border-radius: 10px 0 0 10px;
      border-style: solid;
      border-color: #9eadbd;
      border-width: 1px 0 1px 1px;
      padding: 0.7rem 0.5rem;
      background-color: #f2f2f2;
      i {
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9eadbd;
        color: #ffffff;
      }
    }
  }
  .logo-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: -10%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px black;
    .auth-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
    }
  }
}
.login-card-width {
  width: 450px;
}
.override-alert {
  padding: 10px 16px !important;
  border-radius: 20px !important;
}

.btn-primary.loginBtn {
  background-color: #a239ca;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  letter-spacing: 0.5px;
  border: 0;
}

.forgotPswrd a,
.forgotPswrd span {
  color: #bc51e8;
  font-size: 15px;
}

.regHere {
  font-weight: 600;
  text-decoration: underline;
}
.titleErrorTxt {
  color: #ef5350;
}

.hiddeneField {
  display: none;
}

.swal2-styled.swal2-confirm {
  background-color: #a239ca;
}
