.auth-bg {
  min-height: 100vh;
  background-color: #400A48;
}
.auth-container {
  width: min(380px, 100%);
  background-color: transparent;
  border-radius: 5px;

  .card {
    width: 94%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 13px !important;
    margin-top: 13px !important;
    .card-header {
      display: flex;
      padding: 0;
      & > * {
        width: 50%;
        border-radius: 0;
        padding: 1rem 0;
        background-color: #e0e0e0;
        border-color: #e0e0e0;
        &.active {
          color: #e0e0e0;
        }
      }
    }
    input {
      padding-left: 8px;
      &.focus {
        box-shadow: none;
      }
    }

    input::placeholder {
      color:#e2d4d4;
    }
    .form-control {
      border-style: solid;
      border-color: #e6e3e3;
      border-width: 0px 0px 1px 0px;
      background-color: transparent;
      border-radius: 0;
      color: #fff;
      font-size:14px;
    }
    .input-group-text {
      border-style: solid;
      border-color: #e6e3e3;
      border-width: 0px 0px 1px 0px;
      padding: 0.7rem 0.5rem;
      background-color: transparent;
      border-radius: 0;
      svg {
        fill:#fff;
      }
    }
  }
  .logo-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: -10%;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px black;
    .auth-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
    }
  }
}
.login-card-width {
  width: 400px;

  .card {
    background-image: url("/assets/images/loginBg.png");
    background-size: cover;
    border-radius: 0;
  }
  .card.resetBg {
    background-color: #fff!important;
    background-image: none;
  }
}
.override-alert {
  padding: 10px 16px !important;
  border-radius: 20px !important;
}

.btn-primary.loginBtn {
  background-color: #3C0053;
  font-size: 14px;
  padding: 9px 40px;
  letter-spacing: 0.5px;
  border: 0;
  border-radius: 0;
}

.forgotPswrd a,
.forgotPswrd span {
  color: #e6e3e3;
  font-size: 14px;
}

.login {
  color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.reset {
  color: #A13FC7;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}

.regHere {
  font-weight: 600;
  text-decoration: underline;
}
.titleErrorTxt {
  color: #ef5350;
}

.hiddeneField {
  display: none;
}

.swal2-styled.swal2-confirm {
  background-color: #a239ca;
}


.footer {
  background-color:#ecebec;
  padding: 0.7rem 0 0.8rem;
  font-size: 13px;
  letter-spacing: 0.4px;
  padding-right:20px;
  div{
    font-size: 14px;
  }
}
.line {
  width: 1px;
  background-color: #9362f3;
  height: 14px;
  margin: 0rem 0.8rem;
  display: inline-block;
  vertical-align: middle;
}

.privacySec {
  margin-left:7px;
}

.baseColor {
  color:#9362f3;
}

.copyRight {
  color:#a09f9f;
}

.card.resetBg {
  input, .form-control, .input-group-text {
    border-color:#c6c8ca!important;
    color: #000!important;
    font-size:14px;
  }
  input::placeholder {
    color:#a6aaaf!important;
  }
  // svg {
  //   fill:#8898AA;
  // }
  
}

.auth-container .card.resetBg .input-group-text svg {
  fill:#a6aaaf;
}

.error-border {
  border:none !important;
  border-bottom: 1px solid #f15353!important;
  border-radius:0 !important;
  border-color:#f15353!important;
}
