<div class="input" [formGroup]="group">
  <div class="row">
    <label class="form-label col-12" *ngIf="label">
      {{ label }}
      <span *ngIf="isRequired" class="mandatory-style">*</span>
    </label>
    <div class="col-12 eachInfo" *ngIf="!isNewDesing">
      <div class="blueTxt">
        <input
          [type]="type"
          [placeholder]="placeholder"
          [name]="fieldName"
          [class]="'text-input form-control ' + class"
          [ngClass]="[
            isRequired ? 'requiredField' : '',
            groupControl!.invalid &&
            (groupControl!.dirty || groupControl!.touched)
              ? 'input-error'
              : ''
          ]"
          [formControlName]="fieldName"
          autocomplete="off"
          maxlength="250"
          (blur)="onBlur($event)"
          (input)="onChange($event)"
          #inputRef
        />
        <div
          class="form-error"
          *ngIf="
            groupControl!.invalid &&
            (groupControl!.dirty || groupControl!.touched)
          "
        >
          <div *ngFor="let err of errors">
            <label *ngIf="groupControl!.errors![err.type]">{{
              err.message
            }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8" *ngIf="isNewDesing">
      <div class="eachInfoWraper">
        <div class="blueTxt w-100">
          <input
            [type]="type"
            [placeholder]="placeholder"
            [name]="fieldName"
            [class]="'text-input form-control ' + class"
            [ngClass]="{
              'input-error':
                groupControl!.invalid &&
                (groupControl!.dirty || groupControl!.touched)
            }"
            [formControlName]="fieldName"
            autocomplete="off"
            maxlength="250"
            (blur)="onBlur($event)"
            (input)="onChange($event)"
            #inputRef
          />
          <div
            class="form-error"
            *ngIf="
              groupControl!.invalid &&
              (groupControl!.dirty || groupControl!.touched)
            "
          >
            <div *ngFor="let err of errors">
              <label *ngIf="groupControl!.errors![err.type]">{{
                err.message
              }}</label>
            </div>
          </div>
        </div>
        <div
          *ngIf="!isFixed"
          class="icon-style"
          [ngClass]="{
            'edit-icon': !isEditable,
            'check-icon': isEditable
          }"
          (click)="onClickEdit()"
        ></div>
      </div>
    </div>
  </div>
</div>
