<div class="container-fluid" style="margin-top: 10px">
    <form [formGroup]="leadInfoForm">
        <div class="card shadow">
            <div class="card-body sectionDetails">
                <div class="d-flex justify-content-between editSection">
                    <div class="p-3 font-size-15rem font-weight-600 cardHeader">
                        Lead Information
                    </div>
                    <div *ngIf="action == 'view'">
                        <button class="btn btn-primary createBtn" type="submit" (click)="editLeadInfo()">
                            <span class="plusImg"><img src="../../assets/images/pencil-fill-white.svg"></span> Edit 
                        </button>
                    </div>  
                </div>
                <div class="col-12 pr-3">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <app-select
                                [isRequired]="label.leadSource.isRequired"
                                [label]="label.leadSource.fieldLabel"
                                [fieldName]="label.leadSource.fieldName"
                                [options]="leadSources"
                                [optionConfig]="label.leadSource.optionConfig"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [errors]="label.leadSource.errors"
                                [group]="leadInfoForm"
                            ></app-select>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-select
                                [isRequired]="label.leadGenerator.isRequired"
                                [label]="label.leadGenerator.fieldLabel"
                                [fieldName]="label.leadGenerator.fieldName"
                                [options]="leadGenerators"
                                [optionConfig]="label.leadGenerator.optionConfig"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [errors]="label.leadGenerator.errors"
                                [group]="leadInfoForm"
                            ></app-select>
                        </div>
                        <div class="col-md-6 mb-4" *ngIf="action == 'view' || action == 'edit'">
                            <app-select
                                [isRequired]="label.salesRep.isRequired"
                                [label]="label.salesRep.fieldLabel"
                                [fieldName]="label.salesRep.fieldName"
                                [options]="salesReps"
                                [optionConfig]="label.salesRep.optionConfig"
                                [isEditable]="action == 'edit'"
                                [errors]="label.salesRep.errors"
                                [group]="leadInfoForm"
                            ></app-select>
                        </div>
                        <div class="col-md-6 mb-4" *ngIf="action == 'view' || action == 'edit'">
                            <app-select
                                [isRequired]="label.primaryLanguage.isRequired"
                                [label]="label.primaryLanguage.fieldLabel"
                                [fieldName]="label.primaryLanguage.fieldName"
                                [options]="primaryLangs"
                                [optionConfig]="label.primaryLanguage.optionConfig"
                                [isEditable]="action == 'edit'"
                                [errors]="label.primaryLanguage.errors"
                                [group]="leadInfoForm"
                            ></app-select>
                        </div>
                        <div class="col-md-6 mb-4" *ngIf="action == 'view' || action == 'edit'">
                            <app-select
                                [isRequired]="label.homeType.isRequired"
                                [label]="label.homeType.fieldLabel"
                                [fieldName]="label.homeType.fieldName"
                                [options]="homeTypes"
                                [optionConfig]="label.homeType.optionConfig"
                                [isEditable]="action == 'edit'"
                                [errors]="label.homeType.errors"
                                [group]="leadInfoForm"
                            ></app-select>
                        </div>
                        <div class="col-md-6 mb-4" *ngIf="action == 'view' || action == 'edit'">
                            <app-select
                                [isRequired]="label.hoa.isRequired"
                                [label]="label.hoa.fieldLabel"
                                [fieldName]="label.hoa.fieldName"
                                [options]="hoa"
                                [optionConfig]="label.hoa.optionConfig"
                                [isEditable]="action == 'edit'"
                                [errors]="label.hoa.errors"
                                [group]="leadInfoForm"
                            ></app-select>
                        </div>
                    </div>
                    <div class="row mb-4" *ngIf="action == 'create' || action == 'edit'">
                        <div class="col-12 eachInfoDiv btnDiv">
                          <div class="eachInfo">
                            <app-btn-primary
                              [btnName]="'Save & Next'"
                              [disabled]="leadInfoForm.invalid"
                              (btnClick)="submitLeadInfo()"
                            ></app-btn-primary>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

