<ng-container [formGroup]="group">
  <div class="row">
    <div class="col-md-6 mb-4">
      <app-input
        [type]="label.firstName.fieldType"
        [isRequired]="label.firstName.isRequired"
        [label]="label.firstName.fieldLabel"
        [fieldName]="label.firstName.fieldName"
        [placeholder]="label.firstName.placeholder"
        [errors]="label.firstName.errors"
        [group]="group"
      ></app-input>
    </div>
    <div class="col-md-6 mb-4">
      <app-input
        [type]="label.lastName.fieldType"
        [isRequired]="label.lastName.isRequired"
        [label]="label.lastName.fieldLabel"
        [fieldName]="label.lastName.fieldName"
        [placeholder]="label.lastName.placeholder"
        [errors]="label.lastName.errors"
        [group]="group"
      ></app-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <app-input-email
        [type]="label.email.fieldType"
        [isRequired]="label.email.isRequired"
        [label]="label.email.fieldLabel"
        [fieldName]="label.email.fieldName"
        [placeholder]="label.email.placeholder"
        [errors]="label.email.errors"
        [group]="group"
      ></app-input-email>
    </div>
    <div class="col-md-6 mb-4">
      <app-input-number
        [type]="label.phone.fieldType"
        [isRequired]="label.phone.isRequired"
        [label]="label.phone.fieldLabel"
        [fieldName]="label.phone.fieldName"
        [placeholder]="label.phone.placeholder"
        [errors]="label.phone.errors"
        [group]="group"
      ></app-input-number>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 mb-4">
          <app-input-search
            [type]="label.address.fieldType"
            [isRequired]="label.address.isRequired"
            [label]="label.address.fieldLabel"
            [fieldName]="label.address.fieldName"
            [associatedfieldName]="label.address.associatedfieldName"
            [placeholder]="label.address.placeholder"
            [errors]="label.address.errors"
            [searchValues]="searchValues$"
            [optionConfig]="label.address.optionConfig"
            [group]="group"
            (cstChange)="onChangeState($event)"
          ></app-input-search>
        </div>
        <div class="col-md-12 mb-4">
          <app-input
            [type]="label.street1.fieldType"
            [isRequired]="label.street1.isRequired"
            [label]="label.street1.fieldLabel"
            [fieldName]="label.street1.fieldName"
            [placeholder]="label.street1.placeholder"
            [errors]="label.street1.errors"
            [group]="group"
          ></app-input>
        </div>
        <div class="col-md-12 mb-4">
          <app-input
            [type]="label.street2.fieldType"
            [isRequired]="label.street2.isRequired"
            [label]="label.street2.fieldLabel"
            [fieldName]="label.street2.fieldName"
            [placeholder]="label.street2.placeholder"
            [errors]="label.street2.errors"
            [group]="group"
          ></app-input>
        </div>
        <div class="col-md-12 mb-4">
          <app-input
            [type]="label.city.fieldType"
            [isRequired]="label.city.isRequired"
            [label]="label.city.fieldLabel"
            [fieldName]="label.city.fieldName"
            [placeholder]="label.city.placeholder"
            [errors]="label.city.errors"
            [group]="group"
          ></app-input>
        </div>
        <div class="col-md-12 mb-4">
          <div class="row">
            <div class="col-md-6">
              <app-select
                [isRequired]="label.state.isRequired"
                [label]="label.state.fieldLabel"
                [fieldName]="label.state.fieldName"
                [options]="states"
                [optionConfig]="label.state.optionConfig"
                [errors]="label.state.errors"
                [group]="group"
              ></app-select>
            </div>
            <div class="col-md-6">
              <app-input-number
                [type]="label.postalCode.fieldType"
                [isRequired]="label.postalCode.isRequired"
                [label]="label.postalCode.fieldLabel"
                [fieldName]="label.postalCode.fieldName"
                [placeholder]="label.postalCode.placeholder"
                [errors]="label.postalCode.errors"
                [group]="group"
              ></app-input-number>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</ng-container>
