<div class="input" [formGroup]="group">
  <div class="row">
    <label
      [ngClass]="isDateTime ? 'col-12' : 'col-6'"
      class="form-label"
      *ngIf="label"
    >
      {{ label }}
      <span *ngIf="isRequired" class="mandatory-style">*</span>
    </label>
    <div
      [ngClass]="{
        'col-12': isFullSize || (!isDateTime && !isFullSize),
        'col-6 p_l_6': isDateTime
      }"
      class="eachInfo"
      *ngIf="!isNewDesing"
    >
      <div class="blueTxt">
        <div class="date-picker-style">
          <input
            [placeholder]="placeholder"
            [name]="fieldName"
            [class]="'text-input form-control ' + class"
            [ngClass]="[isRequired ? 'requiredField' : '', 
          (groupControl!.invalid &&
          (groupControl!.dirty || groupControl!.touched)) ? 'input-error' : '']"
            [formControlName]="fieldName"
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            autocomplete="off"
            maxlength="10"
            [readonly]="!isEditable"
            (dateChange)="onDateChange($event)"
            (input)="onChange($event)"
            #inputRef
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div
          class="form-error"
          *ngIf="
            groupControl!.invalid &&
            (groupControl!.dirty || groupControl!.touched)
          "
        >
          <div *ngFor="let err of errors">
            <label *ngIf="groupControl!.errors![err.type]">{{
              err.message
            }}</label>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="isDateTime ? 'col-6' : 'col-8'" *ngIf="isNewDesing">
      <div class="eachInfoWraper">
        <div class="blueTxt w-100">
          <div class="date-picker-style">
            <input
              [placeholder]="placeholder"
              [name]="fieldName"
              [class]="'text-input form-control ' + class"
              [ngClass]="{
                'input-error':
                  groupControl!.invalid &&
                  (groupControl!.dirty || groupControl!.touched)
              }"
              [formControlName]="fieldName"
              [matDatepicker]="picker"
              [min]="minDate"
              [max]="maxDate"
              autocomplete="off"
              maxlength="10"
              (dateChange)="onDateChange($event)"
              (input)="onChange($event)"
              #inputRef
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
          <div
            class="form-error"
            *ngIf="
              groupControl!.invalid &&
              (groupControl!.dirty || groupControl!.touched)
            "
          >
            <div *ngFor="let err of errors">
              <label *ngIf="groupControl!.errors![err.type]">{{
                err.message
              }}</label>
            </div>
          </div>
        </div>
        <div
          *ngIf="!isFixed"
          class="icon-style"
          [ngClass]="{
            'edit-icon': !isEditable,
            'check-icon': isEditable
          }"
          (click)="onClickEdit()"
        ></div>
      </div>
    </div>
  </div>
</div>
