//margin-bottom
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-XS {
  margin-bottom: 5px;
}
.margin-bottom-S {
  margin-bottom: 10px;
}
.margin-bottom-M {
  margin-bottom: 15px;
}
.margin-bottom-L {
  margin-bottom: 20px;
}
.margin-bottom-XL {
  margin-bottom: 25px;
}
.margin-bottom-XXL {
  margin-bottom: 30px;
}

//margin-left
.margin-left-0 {
  margin-left: 0 !important;
}
.margin-left-XS {
  margin-left: 5px;
}
.margin-left-S {
  margin-left: 10px;
}
.margin-left-M {
  margin-left: 15px;
}
.margin-left-L {
  margin-left: 20px;
}
.margin-left-XL {
  margin-left: 25px;
}
.margin-left-XXL {
  margin-left: 30px;
}

//margin-right
.margin-right-0 {
  margin-right: 0 !important;
}
.margin-right-XS {
  margin-right: 5px;
}
.margin-right-S {
  margin-right: 10px;
}
.margin-right-M {
  margin-right: 15px;
}
.margin-right-L {
  margin-right: 20px;
}
.margin-right-XL {
  margin-right: 25px;
}
.margin-right-XXL {
  margin-right: 30px;
}

//margin-top
.margin-top-0 {
  margin-top: 0 !important;
}
.margin-top-XS {
  margin-top: 5px;
}
.margin-top-S {
  margin-top: 10px;
}
.margin-top-M {
  margin-top: 15px;
}
.margin-top-L {
  margin-top: 20px;
}
.margin-top-XL {
  margin-top: 25px;
}
.margin-top-XXL {
  margin-top: 30px;
}

//padding bottom
.padding-bottom-0 {
  padding-bottom: 0 !important;
}
.padding-bottom-XS {
  padding-bottom: 5px;
}
.padding-bottom-S {
  padding-bottom: 10px;
}
.padding-bottom-M {
  padding-bottom: 15px;
}
.padding-bottom-L {
  padding-bottom: 20px;
}
.padding-bottom-XL {
  padding-bottom: 25px;
}
.padding-bottom-XXL {
  margin-bottom: 30px;
}

//padding top
.padding-top-0 {
  padding-top: 0 !important;
}
.padding-top-XS {
  padding-top: 5px;
}
.padding-top-S {
  padding-top: 10px;
}
.padding-top-M {
  padding-top: 15px;
}
.padding-top-L {
  padding-top: 20px;
}
.padding-top-XL {
  padding-top: 25px;
}
.padding-top-XXL {
  margin-top: 30px;
}

//padding left
.padding-left-0 {
  padding-left: 0 !important;
}
.padding-left-XS {
  padding-left: 5px;
}
.padding-left-S {
  padding-left: 10px;
}
.padding-left-M {
  padding-left: 15px;
}
.padding-left-L {
  padding-left: 20px;
}
.padding-left-XL {
  padding-left: 25px;
}
.padding-left-XXL {
  margin-left: 30px;
}

//padding right
.padding-right-0 {
  padding-right: 0 !important;
}
.padding-right-XS {
  padding-right: 5px;
}
.padding-right-S {
  padding-right: 10px;
}
.padding-right-M {
  padding-right: 15px;
}
.padding-right-L {
  padding-right: 20px;
}
.padding-right-XL {
  padding-right: 25px;
}
.padding-right-XXL {
  padding-right: 30px;
}
