
<div class="midSection">
    <div class="sidebar shadow">
        <app-sidenav (menuClicked)="toggleHeaderLogo($event)"></app-sidenav> 
    </div>
    <div class="contentDivNew" [ngClass]="{'contentDiv' : toggleLogoEvent}" id="contentDiv">
        <app-header [toggleLogo]="toggleLogoEvent"></app-header>
        <div class="rightContentDiv">
            <div class="rightMarginDiv">
                <div class="breadcrumbDiv" *ngIf="!isDashboard">
                    <!-- <ul class="d-flex">
                        <li><a>Dashboard <span><img src="../../assets/images/chevron-right.svg" class="rigtArw"></span></a></li>
                        <li><a>{{urlname}}</a></li>
                        <li></li>
                    </ul> -->
                    <!-- {{urlname}} -->
                    <p></p>
                </div>
                <div class="createBtnDiv">
                    <div *ngIf="router.url.includes('contacts') && !router.url.includes('create-contact')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToCreateContact()">
                            <span class="plusImg"><img src="../../assets/images/plus-lg.svg"></span> Create Contact
                        </button>
                    </div>  
                    <div *ngIf="router.url.includes('leads') && !router.url.includes('lead-details')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToLeadForm('create')">
                            <span class="plusImg"><img src="../../assets/images/plus-lg.svg"></span> Create Lead
                        </button>
                    </div>  
                    <!-- <div *ngIf="router.url.includes('leads/lead-details')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToLeadForm('edit')">
                            <span class="plusImg"><img src="../../assets/images/pencil-fill-white.svg"></span> Edit Lead
                        </button>
                    </div>   -->
                    <div *ngIf="router.url.includes('accounts') && !router.url.includes('create-account')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToCreateAccount()">
                            <span class="plusImg"><img src="../../assets/images/plus-lg.svg"></span>  Create Account
                        </button>
                    </div>
                    <div *ngIf="router.url.includes('deals') && !router.url.includes('create-deal')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToCreateDeal()">
                           <span class="plusImg"><img src="../../assets/images/plus-lg.svg"></span> Create Deal
                        </button>
                    </div> 
                    <div *ngIf="router.url.includes('reports') && !router.url.includes('create-report')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToCreateReport()">
                            <span class="plusImg"><img src="../../assets/images/plus-lg.svg"></span> Create Report
                        </button>
                    </div> 
                    <div *ngIf="router.url.includes('proposals') && !router.url.includes('create-proposal')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToProposal()">
                           <span class="plusImg"><img src="../../assets/images/plus-lg.svg"></span> Create Proposal
                        </button>
                    </div> 
                    <div *ngIf="router.url.includes('events') && !router.url.includes('create-events')">
                        <button class="btn btn-primary createBtn" type="submit" (click)="goToEvent()">
                           <span class="plusImg"><img src="../../assets/images/plus-lg.svg"></span> Create Event
                        </button>
                    </div> 
                </div> 
            </div>
            <div class="mainSection">
                <router-outlet></router-outlet>
            </div>
        
        <div class="footerDiv">
            <app-footer></app-footer> 
        </div>
        </div>
    </div>
</div>


    
