@import '../../../../styles/formStyle.scss';
.labelText {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  color: #000;
  vertical-align: top;
  text-align: left;
  padding-right: 10px;
}

ul.tabList {
  margin-left: 15px;
  li {
    display: inline-block;
    background-color:#fff;
    padding:15px 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-right:5px;
    border: 1px solid #f3f3f3;
    cursor:pointer;
  }

  li.active {
    color: #9362f3 !important;
    border-bottom: 2px solid #c1aee7;
  }
}
