<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-4 form-group mb-2 pt-2">
            <label>Task</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-4 form-group mb-2 pt-2">
            <label>Assigned To</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-4 form-group mb-2 pt-2"></div>
        <div class="col-12 px-1 py-3 border shadow d-flex justify-content-between mx-1 my-3">
            <span class="font-weight-700 heading">Event Details</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </span>
        </div>
        <div class="col-4 form-group mb-2 pt-2">
            <label>Status</label>
            <input type="text" class="form-control">
        </div>
        <div class="col-4 form-group mb-2 pt-2">
            <label>Date *</label>
            <input type="date" class="form-control">
        </div>
        <div class="col-4 form-group mb-2 pt-2">
            <label for="sel1">Time:</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-4 form-group mb-2 pt-2">
            <label for="comment">Notes</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div class="col-12 form-group mb-2 pt-2">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Confirmed
                </label>
            </div>
        </div>
        <div class="col-12 px-1 py-3 border shadow d-flex justify-content-between mx-1 my-3">
            <span class="font-weight-700 heading">Homeowner</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </span>
        </div>
        <div class="col-12 d-flex flex-column text-size-small align-items-start">
            <span class="font-weight-700">Info</span>
            <span>Surendra Patel</span>
            <span>9660 Clancey Ave, Downey, California 90240</span>
            <button class="btn btn-primary">Lead Record</button>
        </div>
        <div class="col-12 px-1 py-3 border shadow d-flex justify-content-between mx-1 my-3">
            <span class="font-weight-700 heading">Admin</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path
                        d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                </svg>
            </span>
        </div>
        <div class="col-12 form-group mb-2 pt-2">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Task - Include Attachment Field 
                </label>
            </div>
        </div>
        <div class="col-12 form-group mb-2 pt-2">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Mute Notifications 
                </label>
            </div>
        </div>
        <div class="col-4 form-group mb-2 pt-2">
            <label for="sel1">Related Lead:</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-4 form-group mb-2 pt-2">
            <label for="sel1">Related Group:</label>
            <select class="form-control" id="sel1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="col-4"></div>
        
    </div>
</div>