.font-weight-800{
    font-weight: 800;
}
.font-weight-700{
    font-weight: 700;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-500{
    font-weight: 500;
}
.heading{
    font-size: 1.5rem;
}
.text-size-small{
    font-size: .8rem;
}
