<div class="container-fluid" style="margin-top: 10px">
    <form [formGroup]="contactInfoForm">
        <div class="card shadow">
            <div class="card-body sectionDetails">
                <div class="p-3 font-size-15rem font-weight-600 d-flex justify-content-between cardHeader">
                    Contact Information
                </div>
                <div class="col-12 pr-3">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="label.firstNamePrimary.fieldType"
                                [isRequired]="label.firstNamePrimary.isRequired"
                                [label]="label.firstNamePrimary.fieldLabel"
                                [fieldName]="label.firstNamePrimary.fieldName"
                                [placeholder]="label.firstNamePrimary.placeholder"
                                [errors]="label.firstNamePrimary.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="label.lastNamePrimary.fieldType"
                                [isRequired]="label.lastNamePrimary.isRequired"
                                [label]="label.lastNamePrimary.fieldLabel"
                                [fieldName]="label.lastNamePrimary.fieldName"
                                [placeholder]="label.lastNamePrimary.placeholder"
                                [errors]="label.lastNamePrimary.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input-number
                                [type]="label.phonePrimary.fieldType"
                                [isRequired]="label.phonePrimary.isRequired"
                                [label]="label.phonePrimary.fieldLabel"
                                [fieldName]="label.phonePrimary.fieldName"
                                [placeholder]="label.phonePrimary.placeholder"
                                [errors]="label.phonePrimary.errors"
                                [group]="contactInfoForm"
                            ></app-input-number>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input-email
                                [type]="label.emailPrimary.fieldType"
                                [isRequired]="label.emailPrimary.isRequired"
                                [label]="label.emailPrimary.fieldLabel"
                                [fieldName]="label.emailPrimary.fieldName"
                                [placeholder]="label.emailPrimary.placeholder"
                                [errors]="label.emailPrimary.errors"
                                [group]="contactInfoForm"
                            ></app-input-email>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="label.firstNameSecondary.fieldType"
                                [isRequired]="label.firstNameSecondary.isRequired"
                                [label]="label.firstNameSecondary.fieldLabel"
                                [fieldName]="label.firstNameSecondary.fieldName"
                                [placeholder]="label.firstNameSecondary.placeholder"
                                [errors]="label.firstNameSecondary.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="label.lastNameSecondary.fieldType"
                                [isRequired]="label.lastNameSecondary.isRequired"
                                [label]="label.lastNameSecondary.fieldLabel"
                                [fieldName]="label.lastNameSecondary.fieldName"
                                [placeholder]="label.lastNameSecondary.placeholder"
                                [errors]="label.lastNameSecondary.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input-number
                                [type]="label.phoneSecondary.fieldType"
                                [isRequired]="label.phoneSecondary.isRequired"
                                [label]="label.phoneSecondary.fieldLabel"
                                [fieldName]="label.phoneSecondary.fieldName"
                                [placeholder]="label.phoneSecondary.placeholder"
                                [errors]="label.phoneSecondary.errors"
                                [group]="contactInfoForm"
                            ></app-input-number>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input-email
                                [type]="label.emailSecondary.fieldType"
                                [isRequired]="label.emailSecondary.isRequired"
                                [label]="label.emailSecondary.fieldLabel"
                                [fieldName]="label.emailSecondary.fieldName"
                                [placeholder]="label.emailSecondary.placeholder"
                                [errors]="label.emailSecondary.errors"
                                [group]="contactInfoForm"
                            ></app-input-email>
                        </div>

                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="addrLabel.address.fieldType"
                                [isRequired]="addrLabel.address.isRequired"
                                [label]="addrLabel.address.fieldLabel"
                                [fieldName]="addrLabel.address.fieldName"
                                [placeholder]="addrLabel.address.placeholder"
                                [errors]="addrLabel.address.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="addrLabel.street1.fieldType"
                                [isRequired]="addrLabel.street1.isRequired"
                                [label]="addrLabel.street1.fieldLabel"
                                [fieldName]="addrLabel.street1.fieldName"
                                [placeholder]="addrLabel.street1.placeholder"
                                [errors]="addrLabel.street1.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="addrLabel.street2.fieldType"
                                [isRequired]="addrLabel.street2.isRequired"
                                [label]="addrLabel.street2.fieldLabel"
                                [fieldName]="addrLabel.street2.fieldName"
                                [placeholder]="addrLabel.street2.placeholder"
                                [errors]="addrLabel.street2.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="addrLabel.city.fieldType"
                                [isRequired]="addrLabel.city.isRequired"
                                [label]="addrLabel.city.fieldLabel"
                                [fieldName]="addrLabel.city.fieldName"
                                [placeholder]="addrLabel.city.placeholder"
                                [errors]="addrLabel.city.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="addrLabel.state.fieldType"
                                [isRequired]="addrLabel.state.isRequired"
                                [label]="addrLabel.state.fieldLabel"
                                [fieldName]="addrLabel.state.fieldName"
                                [placeholder]="addrLabel.state.placeholder"
                                [errors]="addrLabel.state.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="addrLabel.postalCode.fieldType"
                                [isRequired]="addrLabel.postalCode.isRequired"
                                [label]="addrLabel.postalCode.fieldLabel"
                                [fieldName]="addrLabel.postalCode.fieldName"
                                [placeholder]="addrLabel.postalCode.placeholder"
                                [errors]="addrLabel.postalCode.errors"
                                [group]="contactInfoForm"
                            ></app-input>
                        </div>

                        <div class="col-md-12 mb-4">
                            <app-textarea
                                [type]="label.notes.fieldType"
                                [isRequired]="label.notes.isRequired"
                                [label]="label.notes.fieldLabel"
                                [fieldName]="label.notes.fieldName"
                                [placeholder]="label.notes.placeholder"
                                [errors]="label.notes.errors"
                                [group]="contactInfoForm"
                            ></app-textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
