<!-- <p>deals works!</p> -->
<div class="w-100">
    <div class="d-flex mb-2">
        <!-- <div class="p-2 d-flex w-100 flex">
            <div class="text-size-1.5rem text-blue px-2 font-weight-700">Interview Scheduled</div>
            <div class="status bg-teal">
                <span>{{ opportunityDetails?.InterviewScheduled?.data?.length || 0 }}
                    Leads
                </span>
            </div>
            <span></span>
        </div> -->
        <div class="d-flex dealBox" style="overflow-x: auto;" >
            <div class="m-2 p-2 shadow border rounded my-2 w-100 eachBox"*ngFor="let opportunity of opportunityDetails; let i = index">
                <p class="justify-content-start stageNameClass"><span class="stageName">{{ opportunity?.name }}</span></p>
                <div class="count justify-content-start" [ngClass]="'countData_'+i">{{opportunity?.deatils?.count}} Data</div>
                <div class="w-100">
                    <div class="m-2 border shadow p-3 rounded eachDealBox" *ngFor="let item of opportunity?.deatils?.dataList">
                        <div class="deal-wrapper" (click)="onDealsClick(item.Deal_ID)">
                        <div class="w-100" class="dealName">{{item.Deal_Name}}</div>
                        <div class="w-100" *ngIf="item.Closing_Date"><span class="boldTxt">Closing Date: </span> <span class="plainTxt">{{item.Closing_Date ? (item.Closing_Date | date) : '---'}}</span></div>
                        <div class="w-100" *ngIf="item.Deal_Owner"><span class="boldTxt">Owner: </span> <span class="plainTxt">{{item.Deal_Owner ? (item.Deal_Owner) : '---'}}</span></div>
                        <div class="w-100" *ngIf="item.Channel_Partner"><span class="boldTxt">Channel Partner: </span> <span class="plainTxt">{{item.Channel_Partner ? (item.Channel_Partner) : '---'}}</span></div>
                        <div class="w-100" *ngIf="item.SS_Date"><span class="boldTxt">SS Date: </span> <span class="plainTxt">{{item.SS_Date ? (item.SS_Date | date) : '---'}}</span></div>
                        </div>
                    </div>
                    <div *ngIf="opportunity?.deatils?.count == 0" class="noData">
                        <p>No Data Available</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <ul class="card-wrapper" cdkDropList #interviewSchedule="cdkDropList"
            [cdkDropListData]="opportunityDetails?.InterviewScheduled?.data" [cdkDropListConnectedTo]="[
            newCandidate,
            candidate,
            canaidateWithdrew,
            qualified,
            notQualified,
            onHold,
            qualifiedNoResponse,
            qualifiedWithdrew,
            interviewReSchedule,
            positionOffered,
            poNotOffered,
            poWithdrew,
            poNoResponse,
            inTraining,
            trainingDeclined,
            trainingNoResponse,
            trainingComplete,
            approvedToRefer,
            atrInactive
          ]" (cdkDropListDropped)="drop($event, 'Interview Scheduled')" class="d-flex w-100 overflow-x-scroll">
            <li class="card-base margin-bottom-XS margin-right-XS col-3" cdkDrag [cdkDragData]="interviewSchedule"
                *ngFor="
              let interview of opportunityDetails?.InterviewScheduled?.data
            ">
                <div class="card card-height border shadow">
                    <div class="card-body">
                        <div class="flex-start">
                            <img class="avatar--sm" [src]="
                      'https://ui-avatars.com/api/?name=' + interview?.name
                    " />
                            <div class="card-title font-bold margin-left-XS" style="margin-top: 7px">
                                {{ interview?.name }}
                            </div>
                        </div>
                        <p class="card-text"></p>
                        <div class="flex-end">
                            <a class="btn btn-light btn-xs taskBtn"><span class="plusTask">+</span> Task</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul> -->
    </div>
</div>