<div class="container-fluid" style="margin-top: 10px">
    <form [formGroup]="saleInfoForm">
        <div class="card shadow">
            <div class="card-body sectionDetails">
                <div class="p-3 font-size-15rem font-weight-600 d-flex justify-content-between cardHeader">
                    Sale Information
                </div>
                <div *ngIf="action == 'view'">
                    <button class="btn btn-primary createBtn" type="submit" (click)="editSaleInfo()">
                        <span class="plusImg"><img src="../../assets/images/pencil-fill-white.svg"></span> Edit 
                    </button>
                </div>  
                <div class="col-12 pr-3">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <app-select
                                [isRequired]="label.salesType.isRequired"
                                [label]="label.salesType.fieldLabel"
                                [fieldName]="label.salesType.fieldName"
                                [options]="salesTypes"
                                [optionConfig]="label.salesType.optionConfig"
                                [errors]="label.salesType.errors"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [group]="saleInfoForm"
                            ></app-select>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-date
                                [type]="label.saleDate.fieldType"
                                [isRequired]="label.saleDate.isRequired"
                                [label]="label.saleDate.fieldLabel"
                                [fieldName]="label.saleDate.fieldName"
                                [placeholder]="label.saleDate.placeholder"
                                [errors]="label.saleDate.errors"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [group]="saleInfoForm"
                            ></app-date>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <app-input
                                [type]="label.systemSize.fieldType"
                                [isRequired]="label.systemSize.isRequired"
                                [label]="label.systemSize.fieldLabel"
                                [fieldName]="label.systemSize.fieldName"
                                [placeholder]="label.systemSize.placeholder"
                                [errors]="label.systemSize.errors"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [group]="saleInfoForm"
                            ></app-input>
                        </div>
                        <div class="col-md-6 mb-4">
                            <app-select
                                [isRequired]="label.paymentMethod.isRequired"
                                [label]="label.paymentMethod.fieldLabel"
                                [fieldName]="label.paymentMethod.fieldName"
                                [options]="paymentMethods"
                                [optionConfig]="label.paymentMethod.optionConfig"
                                [errors]="label.paymentMethod.errors"
                                [isEditable]="action == 'edit' || action == 'create'"
                                [group]="saleInfoForm"
                            ></app-select>
                        </div>
                    </div>
                    <div class="row mb-4" *ngIf="action == 'create' || action == 'edit'">
                        <div class="col-12 eachInfoDiv btnDiv">
                          <div class="eachInfo">
                            <app-btn-primary
                              [btnName]="'Save & Next'"
                              [disabled]="saleInfoForm.invalid"
                              (btnClick)="submitSaleInfo()"
                            ></app-btn-primary>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
